[Unit]
Description=TI4 update service
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=<pwd>
ExecStart=<pwd>/venv/bin/gunicorn --access-logfile - --workers 1 --bind unix:<pwd>/update.sock get:app

[Install]
WantedBy=multi-user.target
