[Unit]
Description=TI4 Get service
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=<pwd>
ExecStart=<pwd>/venv/bin/gunicorn --access-logfile - -k uvicorn.workers.UvicornWorker --workers 1 --bind unix:<pwd>/get.sock get:app

[Install]
WantedBy=multi-user.target
